<nav class="sub-nav">
    <a href="{{ relative_path('/card') }}">card</a>
    <a href="{{ relative_path('/card/deck') }}">deck</a>
    <a href="{{ relative_path('/card/deck/shuffle') }}">shuffled (reset deck)</a>
    <a href="{{ relative_path('/card/deck/draw') }}">draw</a>
    <a href="{{ relative_path('/card/deck/draw/5') }}">draw 5</a>
    <a href="{{ relative_path('/card/deck/draw/10') }}">draw 10</a>
    <a href="{{ relative_path('/card/deck/deal/4/3') }}">deal 3 cards/4 pl</a>
</nav>