{# templates/report.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}

    <nav class="sub-nav">
        <a href="{{ relative_path('/card') }}">card</a>
        <a href="{{ relative_path('/card/deck') }}">deck</a>
        <a href="{{ relative_path('/card/deck/shuffle') }}">shuffled</a>
        <a href="{{ relative_path('/card/deck/draw') }}">draw</a>
    </nav>

    <div class="content-area">
        <div class="content">
            

            <div class="card-area">

            {% if displayed_deck is defined %}
                {% for card in displayed_deck %}
                    <div class="card {{ card.getCssColor() }} value{{ card.getValue() }}">
                    </div>
                {% endfor %}
            {% endif %}
            </div>

            {% if drawn_card is defined %}
                <div class="card back">{{ remaining_cards }}</div>
                <div class="card {{ drawn_card.getCssColor() }} value{{ drawn_card.getValue() }}">
                </div>
            {% endif %}

            {% if drawn_cards is defined %}
                <div class="card back">{{ remaining_cards }}</div>
                <div class="card {{ drawn_cards[0].getCssColor() }} value{{ drawn_cards[0].getValue() }}">
                </div>
            {% endif %}

        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


